//====================================================================================================
.page {
    &__calculator {
        @include adaptiveValue("padding-top", 213,44 );
        @include adaptiveValue("padding-bottom", 213,64 );
    }
}
//========================================================================================================================================================

.calculator {
    &__title {
        @include adaptiveValue("font-size",54 ,34 );
        line-height: math.div(49 , 54);
        margin-bottom: rem(32);
        max-width: rem(753);
    }
    &__form {
        font-family: "Gilroy";
        font-weight: 400;
        color: $gray-color;
        font-size: rem(16);
        line-height: math.div(20 , 16);
    }
}

//========================================================================================================================================================

.form-calculator {
    &._disabled{
        opacity: 0.4;
        .form-calculator__button{
            background: rgba($orange-color, 0.4);
            pointer-events: none;
        }
        .form-calculator__input,
        .noUi-handle,
        .noUi-connects,
        .noUi-base{
            pointer-events: none;
        }
    }
    &._sending{
        opacity: 0.4;
        .form-calculator__button{
            pointer-events: none;
        }
        .form-calculator__button::after{
            opacity: 1;
            visibility: visible;
            animation: spinner 1s infinite linear;
        }
        .form-calculator__input,
        .noUi-handle{
            pointer-events: none;
        }
    }
    text-align: left;
    &__row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: rem(32); 
        &:not(:last-child) {
            margin-bottom: rem(44);
        }
        @media (max-width: em(1119)){
            flex-wrap: wrap;
            &:not(:last-child) {
                margin-bottom: rem(37);
            }
        }   
    }
    &__col {
        flex: 0 1 33.33%;
        label {
            display: block;
            margin-bottom: em(24,16);
            font-weight: 400;
            font-family: "Gilroy";
            @include adaptiveValue("font-size",16 ,14 );
            line-height: math.div(20 , 16);
        }
        &._col-upper {
            flex: 0 1 33.33%;
            @media (max-width: em(1119)){
                flex: 0 1 100%;
            }  
        }
        @media (max-width:$tablet){
            flex: 0 1 100%;  
        }
    }
    &__input-logo-rub,
    &__input-logo-percent,
    &__input-logo-mounth{
        display: block;
        position: relative;
        font-family: "Nekst";
        font-weight: 900;
        @include adaptiveValue("font-size",30 , 22);
        line-height: math.div(36 , 30);
        @media (max-width:$mobile){
             color: $mobile-black-color; 
        }
        &::after{
            position: absolute;
            right: rem(24);
            top: 50%;
            transform:  translateY(-50%);
            color: $gray-color;
            @include adaptiveValue("font-size",30,22 );
            @media (max-width:$mobile){
                 color: $mobile-black-color; 
            }
        }
    }
    &__input-logo-rub{
        &::after{
            content: '₽';
            color: $gray-color;
            @media (max-width:$mobile){
                 color: $mobile-black-color; 
            }
        }
    }
    &__input-logo-percent{
        &::after{
            display: none;
        }
    }
    &__percent-num{
        @include adaptiveValue("font-size", 20 ,22);
        line-height: 120%;
        display: block;
        position: absolute;
        z-index: 3;
        padding:rem(17);
        background: #E0E0E0;
        border-radius: rem(16);
        width: rem(70);
        right: rem(6);
        top: 50%;
        transform: translateY(-50%);
        @media (max-width:$mobile){
             padding: rem(14); 
        }
    }
    &__input-logo-mounth{
        &::after{
            content: 'мес.';
            @include adaptiveValue("font-size",30, 22 );
            line-height: math.div(36 , 30);
        }
    }
    &__input {
        position: relative;
        display: inline-block;
        outline: none;
        width: 100%;
        font-family: "Nekst";
        font-weight: 900;
        @include adaptiveValue("font-size",30,22 );
        line-height: math.div(36 , 30);
        padding: rem(16) rem(94) rem(16) rem(24);
        color: $gray-color;
        background: #F3F3F4;
        border-radius: rem(16);
        height: rem(68);
        border-bottom: none;
        transition: all 0.3s ease 0s;
        &:focus{
            border: rem(2) solid #F3F3F4;;
            background: transparent;
        }
        @media (max-width:$mobile){
             padding: rem(20); 
             height: rem(60);
             color: $mobile-black-color;
        }
    }
    &__range{
        position: relative;
        z-index: 3;
        width: 90%;
        margin-left: 5%;
    }
    &__description {
        margin-bottom: rem(8);
        font-weight: 400;
        font-family: "Gilroy";
        @include adaptiveValue("font-size",16 ,14 );
        line-height: math.div(20 , 16);
    }
    &__total {
        font-weight: 900;
        font-family: "Nekst";
        @include adaptiveValue("font-size", 54, 22);
        line-height: math.div(49 , 54);
        color: $light-black;
        &::after{
            content: ' ₽'
        }
    }
    &__button {
        @include adaptiveValue("font-size", 30, 22);
        line-height: math.div(36 , 30);
        padding: rem(8) rem(51) rem(8) rem(51);
        background: $orange-color;
        border-radius: rem(40);
        color: #FFFFFF;
        width: 33.3%;
        transition: background 0.3s ease 0s;
        position: relative;
        &::after{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            content: '';
            width: rem(21);
            height: rem(21);
            right: rem(25);
            top: 29%;
            background: url('@img/icons/spinner.svg') no-repeat center;
        }
        @media (any-hover: hover){
            &:hover{
                background: #111111;  
            }
        }
        &:active{
            background: #575757;
        }
        @media (max-width:$tablet){
            flex: 0 1 rem(345);
        }
        @media (max-width:$mobile){
             flex: 0 1 100%; 
        }
    }
}

//========================================================================================================================================================

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100% {
       transform: rotate(360deg); 
    }
}
//====================================================================================================


