@use "sass:math";

// Соединение миксов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Соединяющие шрифты ===========================================================================================================================================================================================================================================================================
//&display=swap - Добавьте при подключении через плагин

// Подключитесь, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение шрифтов значков ==============================================================================================================================================================================================================================================================================
// Подключите, если есть файл шрифта значка
//@import "fonts/icons";
 

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Nekst";
$fontSize: rem(16); // тоже 14(px) - Размер шрифта по умолчанию из макета

// Основні кольори
$mainColor: rgb(17, 17, 17); // Цвет шрифта по умолчанию
$gray-color: #575757;
$light-black: #333333;
$orange-color: #FF9514;
$mobile-black-color: #333E48;
$light-gray-color: #F3F3F4;
// Адаптировать адаптивную сетку ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина холста (макет)
$maxWidth: 1440;
// Ширина контейнера ограничения (0 = Нет ограничений)
$maxWidthContainer: 1340;
// Общее отступление из контейнера
// (30 = по 15px Лево и право, 0 = Нет отступления)
$containerPadding: 40;
// ширина первого Breikpoint
$containerWidth: $maxWidthContainer + $containerPadding;

//Перерыв
$pc: em($containerWidth); // ПК, ноутбуки, некоторые таблетки в горизонтальном положении
$tablet: em(991.98); // Таблетки, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Адаптируемый тип:
// 1 = отзывчивость (контейнер не имеет точек останова),
// 2 = по точке разрыва (контейнер меняет ширину на точку разрыва)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Вверх ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
// сайт загружен!
html {
	&.loaded {
		.className{}   // имя класса для которого ловим onLoad
	}
}
body {
	// свиток заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// Обертка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-weight: 900;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Мы нажимаем нижний колонтитул
	> main {
		flex: 1 1 auto;
	}
	// Исправлена ​​ползунки
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

@if ($responsiveType==1) {
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Контрольные точки
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// Сединение основных стилей, шаблонов (заготовки) и вспомогательных классов
// для подключения/отключения конкретных стилей см. Base.scss
@import "base";


// Соединение стилей отдельных блоков
@import "header";
@import "footer";

//common



// Соединение стилей отдельных страниц
@import "home";

